{% extends "front/base.html.twig" %}

{% block title %}{{ car.name }} {{ car.year }}{% endblock %}

{% block main %}

<p>{{ car.name }} {{ car.year }}</p>
<p>{{ car.engine }}</p>
<p>{{ car.brand.name }} {{ car.brand.country }}</p>
<p>{{ car.groupe.name }} {{ car.groupe.country }}</p>

{% endblock %}

{% block js %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    function onClickLike(event) {
        event.preventDefault();
        const url = $this.href;
        const spanCount = this.querySelector('span.js-likes');
        const icone = this.querySelector('i');
        axios.get(url).then(function (response) {
            spanCount.textContent = response.data.likes;
            if (icone.classList.contains('fas')) {
                icone.classList.replace('fas', 'far')                
            } else {
                icone.classList.replace('far', 'fas')
            }
        
            if(response.data.message == "Dislike supprimé et like ajouté.")
            {
                const spanCountDislike = this.querySelector('span.js-dislikes');
                const iconeDislike = this.querySelector('i.fa-thumbs-down');

                spanCountDislike.textContent = response.data.dislikes;

                if (iconeDislike.classList.contains('far')) {
                    iconeDislike.classList.replace('far', 'fas')
                } else {
                    iconeDislike.classList.replace('fas', 'far')
                }
            }

        }).catch(function(error)) {
            if (error.response.status === 403) {
                window.alert("Vous devez vous connecter.")
            } else {
                window.alert("Une erreur s'est produite.")
            }
        })
    }

    function onClickDislike(event) {
        event.preventDefault();

        const urlDis = this.href;
        const spanCountDis = this.querySelector('span.js-dislikes');
        const iconeDis = this.querySelector('i');

        axios.get(urlDis).then(function(response) {
            spanCountDis.textContent = response.data.dislikes;
            if (iconeDis.classList.contains('fas')) {
                iconeDis.classList.replace('fas', 'far');
            } else {
                iconeDis.classList.replace('far', 'fas');
            }
            
            if (response.data.message == "Like supprimé et dislike ajouté") {
                const spanCountLike = document.querySelector('span.js-likes');
                const iconeLike = document.querySelector('i.fa-thumbs-up');

                spanCountLike.textContent = response.data.likes;

                if (iconeLike.classList.contains('fas')) {
                    iconeLike.classList.replace('fas', 'far');
                } else {
                    iconeLike.classList.replace('far', 'fas');
                }
            }
            
        }).catch(function (error) {
            if (error.response.status === 403){
                window.alert("Vous devez vous connecter.");
            } else {
                window.alert("Une erreur s'est produite.");
            }
        })
    }

    document.querySelector('a.js-likes').addEventListener('click', onClickLike);

    document.querySelector('a.js-dislikes').addEventListener('click', onClickDislike);

</script>

{% endblock %}